<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Welcome to code connect</h1>
    </div>
    <div class="form">
        <form action="/room" method="GET">
            <div class="form-group">
                <label for="formGroupExampleInput">Enter Your Name</label>
                <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
            </div>
            <button type="submit">Connect TO New Room</button>
            <div class="form-group">
                <label for="formGroupExampleInput2">OR</label>
                <label for="formGroupExampleInput2">Enter Room id</label>
                <input name="roomid" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Room id">
            </div>
            <button type="submit">Join Room</button>
        </form>
    </div>
</body>

</html>